mixin Cards(list, classDiv, idDiv, classImg, textWeight, measure, classBtn, idBtn)
  div(class=classDiv id=idDiv)  
    each val, index in list
      div(class="card" id=val._id)
        .boxImg
          img(class=classImg src=val.img alt="")
        p(class="nameDish" value=val.title )= val.title 
        p(class="descriptionDish")= "Состав: " + val.description
        p(class="weightDush")= textWeight + val.weight + measure
        p(class="priceDish" value=val.price )= "Цена: " + val.price  + " руб"
        .addProduct
          p.boxbtnAddBasket
            button(class=classBtn id=idBtn) Добавить в корзину  